# automatically activate dev environment when in project tree using direnv.
ACT=".nox/dev/bin/activate"

if [[ -f "${ACT}" ]]; then
    source "${ACT}"
else
    cat <<EOF
Activation script "${ACT}" not found for dev environment.
Run 'nox -s dev' to install dev environment
EOF
fi
