# automatically activate dev environment when in project tree using direnv.
# to initially set up editable dev enviroment run:
#
# $ python -m venv .dev
# $ source .dev/bin/activate
# $ pip install -e '.[dev]'

source .dev/bin/activate
